*.swp
Makefile
Makefile.in
_oldmakefile
aclocal.m4
autom4te.cache/
bigmc-0.1.tar.gz
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/graphs/*.png
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/_oldmakefile
src/bgparser.cpp
src/bgparser.h
src/bgparser.tab.cpp
src/bgparser.tab.hpp
src/bgscanner.cc
src/parser/Makefile.in
src/parser/_oldmakefile
src/predicates/.deps/
src/predicates/.libs/
src/predicates/Makefile
src/predicates/Makefile.in
src/predicates/_oldmakefile
src/predicates/*.la
src/predicates/*.lo
stamp-h1
ylwrap

compile
doc/manual/.dirstamp
doc/manual/bigmc.info
doc/manual/stamp-vti
doc/manual/version.texi
doc/mdate-sh
doc/texinfo.tex
INSTALL
INSTALL
*.m4
src/bigmc
tests/.deps/test_matcher-test-matcher.Po
tests/.deps/test_bigraph-test-bigraph.Po
test-driver
src/libbigmc.a
INSTALL
*.bin
.vscode/ipch/14ac79229e891db6/bgparser.ipch
.vscode/ipch/47053062bb191b64/test-matcher.ipch
.vscode/ipch/880e4586817f55e0/bgscanner.ipch
.vscode/ipch/726d0a4a05e8f555/bgparser.ipch
.vscode/settings.json
.vscode/ipch/2ed44d0b673ffaca/test-matcher.ipch
.vscode/ipch/8b2309b2ee960ec3/logger.ipch
doc/examples/temp
.vscode/ipch/afc1bafc6bec9eb0/logger.ipch
.vscode/ipch/6574bd4bb80a0598/bgparser.ipch
